<% content_for :head do %>
  <%= javascript_import_module_tag "custom/mailinglist_form" %>
<% end %>
<body class="coming-soon">
    <!-- Background Video-->
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src=<%= asset_url('bg.mp4') %> type="video/mp4" /></video>
    <!-- Masthead-->
    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h1 class="fst-italic lh-1 mb-4">PledgeLeaf is Coming Soon</h1>
                <p class="mb-5">Leverage your network for causes you love.</p>
                <p class="mb-5">Sign up below to receive updates and to be notified when we launch!</p>
                <%= form_with url: "/signup", id: "contactForm", :html=>{"data-sb-form-api-token"=>"API_TOKEN"} do |form| %>
                <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col">
                        <%= form.email_field :email, id: "email", placeholder: "Enter email address", "aria-label"=>"Enter email address"  %>
                        </div>
                        <div class="col-auto"><%= form.button "Notify Me!", type: "submit", id: "submitButton", class: "btn btn-primary" %></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="email:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="email:email">Email is not valid.</div>

                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2">
                            <div class="fw-bolder">Form submission successful!</div>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <a class="btn btn-dark m-3" href="https://www.twitter.com/teampledgeleaf"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark m-3" href="https://www.facebook.com/pledgeleaf"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark m-3" href="https://www.instagram.com/pledgeleaf"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
